---
<!-- layout: default -->
layout: sidebar-framework
---


<h1>framework</h1>


<ul>
    {% for framework in site.framework %}
      <li>
        
        <h2>{{ framework.name }}</a></h2>
        <h3>{{ framework.position }}</h3>
      </li>
    {% endfor %}
  </ul>



<!-- {% for staff_member in site.staff_members %}
  <h2>
    <a href="{{ staff_member.url }}">
      {{ staff_member.name }} - {{ staff_member.position }}
    </a>
  </h2>
  <p>{{ staff_member.content | markdownify }}</p>
{% endfor %} -->



