---
<!-- layout: default -->
layout: sidebar-template
---


<h1>templates</h1>


<ul>
    {% for template in site.templates %}
      <li>
        
        <h2>{{ template.name }}</a></h2>
        <h3>{{ template.position }}</h3>
      </li>
    {% endfor %}
  </ul>



<!-- {% for staff_member in site.staff_members %}
  <h2>
    <a href="{{ staff_member.url }}">
      {{ staff_member.name }} - {{ staff_member.position }}
    </a>
  </h2>
  <p>{{ staff_member.content | markdownify }}</p>
{% endfor %} -->



