---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>{{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  
	<div class="">

		{% include navigation.html %}
		


		<div class="wrapper">

			<!-- Sidebar -->
			<nav id="sidebar">

				<!-- <div id="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div> -->
		
				<ul class="list-unstyled components">
					<!-- 1 -->
					<li class="active">
						<!-- #pageSubmneu, #homeSubmenu -->
						<!-- <a>Another heading<i class="icon-angle-down"></i></a> -->
						<!-- <a href="#" data-toggle="collapse" data-target="#submenu1">
							helloss<i class="icon-angle-down"></i>
							</a> -->
							<!-- when click on arrow, change direction ... $('[data-toggle=collapse]').click(function(){
    $(this).find("i").toggleClass("icon-angle-right icon-angle-down");
}); -->
<!-- <button class="dropdown-btn">Dropdown
    <i class="fa fa-caret-down"></i>
  </button> -->
						<!-- class="dropdown-toggle" -->
						<a href="#submenu1" data-toggle="collapse" aria-expanded="false">Project Management</a>
						<ul class="collapse list-unstyled" id="submenu1">
							<li>
								<a href="sect1.html">Overview</a>
							</li>
							<li>
								<a href="#">Agile</a>
							</li>
							<li>
								<a href="#">History</a>
							</li>
						</ul>
					</li>
					<!-- 2 -->
					<!-- <li>
						<a href="#">Business Analysis</a>
					</li> -->
					<li>
						<a href="#submenu2" data-toggle="collapse" aria-expanded="false">Business Analysis</a>
						<ul class="collapse list-unstyled" id="submenu2">
							<li>
								<a href="#">Overview</a>
							</li>
							<li>
								<a href="#">Processes</a>
							</li>
							<li>
								<a href="#">Use Cases</a>
							</li>
							<li>
								<a href="#">Domain</a>
							</li>
							<li>
								<a href="#">Applications</a>
							</li>
						</ul>
					</li>
					<!-- 3 -->
					<!-- or Architecture?? -->
					<li>
						<a href="#submenu3" data-toggle="collapse" aria-expanded="false">Software Architecture</a>
						<ul class="collapse list-unstyled" id="submenu3">
							<li>
								<a href="#">Overview</a>
							</li>
							<li>
								<a href="#">Microservices</a>
							</li>
							<li>
								<a href="#">System</a>
							</li>
							<li>
								<a href="#">Layers</a>
							</li>
							<li>
								<a href="#">Slices</a>
							</li>
						</ul>
					</li>
					<!-- 4 -->
					<li>
						<a href="#submenu4" data-toggle="collapse" aria-expanded="false">.NET Core</a>
						<ul class="collapse list-unstyled" id="submenu4">
							<li>
								<a href="#">Get Started</a>
							</li>
							<li>
								<a href="#">Walkthrough</a>
							</li>
							<li>
								<a href="#">Implementation</a>
							</li>
						</ul>
					</li>
					<!-- 5 -->
					<li>
						<a href="#submenu5" data-toggle="collapse" aria-expanded="false">Angular</a>
						<ul class="collapse list-unstyled" id="submenu5">
							<li>
								<a href="#">Get Started</a>
							</li>
							<li>
								<a href="#">Walkthrough</a>
							</li>
						</ul>
					</li>
					<!-- 7 -->
					<!-- order of templates -->
					<li>
						<a href="#submenu7" data-toggle="collapse" aria-expanded="false">Quality Assurance</a>
						<ul class="collapse list-unstyled" id="submenu7">
							<li>
								<a href="#">Manual Testing</a>
							</li>
							<li>
								<a href="#">Automated Testing</a>
							</li>
						</ul>
					</li>
					<!-- 6 -->
					<li>
						<a href="#submenu6" data-toggle="collapse" aria-expanded="false">Big Data</a>
						<ul class="collapse list-unstyled" id="submenu6">
							<li>
								<a href="#">Data Sources</a>
							</li>
							<li>
								<a href="#">Data Storage</a>
							</li>
							<li>
								<a href="#">Batch Processing</a>
							</li>
							<li>
								<a href="#">Stream Processing</a>
							</li>
							<li>
								<a href="#">Machine Learning</a>
							</li>
							<li>
								<a href="#">Analytical Data Store</a>
							</li>
							<li>
								<a href="#">Analytics and Reporting</a>
							</li>														
						</ul>
					</li>					
					<!-- 8 -->
					<!-- System Adminisration -->
					<li>
						<a href="#submenu8" data-toggle="collapse" aria-expanded="false">System Admin</a>
						<ul class="collapse list-unstyled" id="submenu8">
							<li>
								<a href="#">Responsibilities</a>
							</li>
							<li>
								<a href="#">Configuration</a>
							</li>
							<li>
								<a href="#">Maintenance</a>
							</li>
							<li>
								<a href="#">Network</a>
							</li>
							<li>
								<a href="#">Security</a>
							</li>
						</ul>
					</li>
					<!-- 9 -->
					<li>
						<a href="#submenu9" data-toggle="collapse" aria-expanded="false">DevOps</a>
						<ul class="collapse list-unstyled" id="submenu9">
							<li>
								<a href="#">Overview</a>
							</li>
							<li>
								<a href="#">Process</a>
							</li>
							<li>
								<a href="#">Tools</a>
							</li>
						</ul>
					</li>
					<!-- 10 -->
					<li>
						<a href="#submenu10" data-toggle="collapse" aria-expanded="false">Recruitment</a>
						<ul class="collapse list-unstyled" id="submenu10">
							<li>
								<a href="#">Overview</a>
							</li>
						</ul>
					</li>										
				</ul>
			</nav>

			<!-- Page content -->
			<!-- toggle button -->
			<div id="page-content-wrapper" class="content22">


<!-- =============================================================== -->
                <div class="main-container main-container2">
                    <!-- actual content and docs text -->
                    <div class="container">

                        <!-- sidebar button -->
                        <!-- <div class="mb-5">
                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                        </div> -->
                    
						<h1>Introduction</h1>
						<p>DevOps boosts culture of collaboration between software development (Dev) and operations (Ops) teams. Emphasises a shift in mindset that leads to increased productivity through automation, security, continuous delivery. </p>
						<p>It enables teams to self service, focusing on planning, developing, measuring and improving what matters.
							‘four key metrics’ (described in Accelerate) track performance of DevOps implementation in the organisations.</p>
						<p>Lead Time for Changes - How long it takes to run (code) changes in production.
							Deployment Frequency - How often (code) changes are deployed to production.
							Time to Restore Service - How long it takes to restore failed service.
							Change Failure Rate - What is the percentage of failed deployments.</p>
						<p>DevOps transforms business and brings benefits like innovation, shorter time to market, user satisfaction, growth.</p>

						<p>DevOps boosts culture of collaboration between software development (Dev) and operations (Ops) teams. Emphasises a shift in mindset that leads to increased productivity through automation, security, continuous delivery.
						It enables teams to self service, focusing on planning, developing, measuring and improving what matters.
							‘four key metrics’ (described in Accelerate) track performance of DevOps implementation in the organisations.</p>
						<p>Lead Time for Changes - How long it takes to run (code) changes in production.
							Deployment Frequency - How often (code) changes are deployed to production.
							Time to Restore Service - How long it takes to restore failed service.
							Change Failure Rate - What is the percentage of failed deployments.</p>
						<p>DevOps transforms business and brings benefits like innovation, shorter time to market, user satisfaction, growth.</p>

						<!-- link to previous part -->
						<!-- security -->
						<!-- link to next part -->
						<!-- process -->
                    </div>
                    
                    <!-- footer -->
                    <!-- ov-footer" style="position: fixed;   bottom: 0;" -->
                    {% include footer-templates.html %}

                </div>
<!-- ================================== -->


			</div>

			<!-- Dark Overlay element -->
			<div class="overlay d-md-none"></div>
		
		</div>





		<!-- Text -->
		{{content}}


		

	</div>

	{% include scripts.html %}
	
  </body>
</html>




