<div class="bg-secondary text-white">
	<div class="container">
		<p _ngcontent-c0="">Copyright © <a href="https://optivem.com/" target="_blank">Optivem</a> 2020 All Rights Reserved. Code licensed <a _ngcontent-c0="" href="https://github.com/atomiv/atomiv-cs/blob/master/LICENSE" rel="license noopener" target="_blank">MIT</a>, docs <a _ngcontent-c0="" href="https://creativecommons.org/licenses/by/4.0/" rel="license noopener" target="_blank">CC BY 4.0</a>. | Designed by <a _ngcontent-c0="" href="http://senovim.com/" rel="license noopener" style="text-transform: uppercase; font-weight: 500;" target="_blank">Senovim</a></p>
	</div>
</div>

