<!-- Footer -->
<footer class="ov-footer">
  <div class="text-center text-md-left mb-0">


    <div class="container">
      <div class="d-flex justify-content-center justify-content-md-start">
        <a href="https://www.linkedin.com/company/atomiv" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.xing.com/companies/atomiv" target="_blank">
          <i class="fab fa-xing"></i>
        </a>
        <a href="https://github.com/atomiv" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>


      <ul class="ov-footer-links">
        <div class="container">
          <li><a href="https://github.com/atomiv" rel="license noopener" target="_blank">Github</a></li>
          <li><a href="/foundation/overview">Framework</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/support">Support</a></li>
        </div>
      </ul>

      <div class="container">
        <p> 
          &copy; Atomiv 2020 All Rights Reserved. Code licensed
          <a href="https://github.com/atomiv/atomiv-cs/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener">CC BY 4.0</a>
          | Founded by
          <a href="https://optivem.com/" target="_blank" rel="license noopener"
          style="text-transform: capitalise; font-weight: 400;">Optivem</a>
          | Designed by
          <a href="https://senovim.com/" target="_blank" rel="license noopener"
          style="text-transform: capitalise; font-weight: 400;">Senovim</a>
        </p>
      </div>

  </div>
</footer>