<!-- Footer -->
<footer class="ov-footer">
  <div class="container text-center text-md-left">
    <div class="mb-0">

        <ul class="ov-footer-links">
          <li><a href="https://github.com/atomiv" rel="license noopener" target="_blank">Github</a></li>
          <li><a href="https://docs.atomiv.com" rel="license noopener" target="_blank">Docs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/support">Support</a></li>
        </ul>

        <p> 
          <!-- Copyright .. or 2020 c Optivem .. Optivem 2020 .. Optivem c 2010-2020-->
          &copy; Optivem 2020 All Rights Reserved. Code licensed
          <a href="https://github.com/atomiv/atomiv-cs/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs
          <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener">CC BY 4.0</a>.
          | Designed by
          <a href="http://senovim.com/" target="_blank" rel="license noopener"
          style="text-transform: capitalise; font-weight: 400;">Senovim</a>
        </p>

    </div>
  </div>
</footer>