<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- J.C. -->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta property="og:title" content="Atomiv">
<!-- <meta property="og:type" content="article"> -->
<meta property="url" content="https://atomiv.com">
<!-- branded link preview, use og:image tagfor the image -->
<!-- <meta property="og:image" content="https://atomiv.com/img/logo.svg"> -->
<meta property="og:image" content="https://atomiv.com/img/logo-red.png">
<meta>
