<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- J.C. -->
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- J.C. -->

<!-- content="Atomiv - {{ page.title }}" -->
<!-- mobile view -->
<!-- <meta property="og:title" content="hello"/> -->



<!-- <meta property="og:type" content="article/blog"> -->
<!-- URL of the page that is being shared -->
<!-- <meta property="url" content="https://atomiv.org"> -->
<!-- link image preview, preview thumbnail image, use og:image tagfor the image -->
<!-- <meta property="og:image" content="https://atomiv.org/img/logo.svg"> -->
<!-- if no open graph image favicon will be displayed -->
<!-- https://atomiv.github.io/img/favicon.png -->
<!-- recommended size:1200 x 1200, or 1200 x 630 .. or 560x292 -->
<!-- share on facebook and twitter -->
<meta property="og:image" content="https://atomiv.org/img/hyperlink-preview-image3.png">

<!-- mobile view -->
<!-- takes precedence over url in link preview -->
<!-- <meta property="og:site_name" content="atomiv.org"/> -->
<meta property="og:description" content="">
<!-- go:video:url ... video instead of og:image -->
<!-- <meta property="og:video:url" content="video.mp4"> -->
