<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">

	<div class="container">
	
		<!--<a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>-->

		<a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/img/logo.png" height="50px;" alt="{{ site.title }}"></a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>

		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">

			<ul class="navbar-nav">

				{% for link in site.data.navigation %}
					{% if link.url contains 'http' %}
						{% assign domain = '' %}
						{% else %}
						{% assign domain = site.url %}
					{% endif %}
					
					
					<li class="nav-item {% if link.url == page.url %}active{% endif %}">
						<a class="nav-link" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title }}</a>
					</li>
				
				{% endfor %}

			</ul>
			
			<ul class="nav navbar-nav ml-auto">
			
				{% for link in site.data.links %}
					{% if link.url contains 'http' %}
						{% assign domain = '' %}
						{% else %}
						{% assign domain = site.url %}
					{% endif %}
					
					<li class="nav-item {% if link.url == page.url %}active{% endif %}">
						<a class="nav-link" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title }}</a>
					</li>
					
				{% endfor %}

			</ul>

		</div>

	</div>

</div>