{% for link in site.data.navigation %}
{% if link.url contains 'http' %}
  {% assign domain = '' %}
  {% else %}
  {% assign domain = site.url %}
{% endif %}



<li class="nav-item {% if link.url == page.url %}active{% endif %}">
  <a class="nav-link" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title }}</a>
</li>

{% endfor %}
<!-- ------------------------- -->


{% for link in site.data.navigation %}
<!-- if link.subcategories != null -->
  {% if link.subcategories != null %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="{{ site.url }}{{ link.url }}"
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ link.title }}
      </a>
      <div class="dropdown-menu" aria-labelledby="{{ link.nDropdown }}">
      {% for subcategory in link.subcategories %}
        <a class="dropdown-item" href="{{ site.url }}{{ subcategory.subhref }}">
          {{ subcategory.subtitle }}
        </a>
      {% endfor %}
      </div>
    </li>
    
  {% elsif link.title == page.title %}
    <li class="nav-item active">
      <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% else %} 
    <li class="nav-item">
      <a class="nav-link" href="{{ site.url }}{{ link.href }}">{{ link.title }}</a>
    </li>
  {% endif %}
{% endfor %}

<!-- ------------------------ -->

---
layout: post
---



(in html)

{% if page.path contains '_posts' %}
This page is a post
{% else %}
This page is a normal page
{% endif %}