<script src="{{ site.url }}/js/jquery/jquery-3.4.1.min.js"></script>
<script src="{{ site.url }}/js/popper/popper.min.js"></script>	
<script src="{{ site.url }}/js/bootstrap/bootstrap.min.js"></script>	

<!-- <script src="{{ site.url }}/js/custom/custom.js"></script>	 -->

<!-- Prism -->
<script type="text/javascript" src="{{ site.url }}/js/prism-toolbar.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/clipboard.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/copy-to-clipboard.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/prism.js"></script>
<!-- Atomiv -->
<script type="text/javascript" src="{{ site.url }}/js/atomiv.js"></script>