<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	

<!-- <script src="{{ site.url }}/js/custom/custom.js"></script>	 -->

<!-- Prism -->
<script type="text/javascript" src="{{ site.url }}/js/prism-toolbar.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/clipboard.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/copy-to-clipboard.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/prism.js"></script>
<!-- Atomiv -->
<script type="text/javascript" src="{{ site.url }}/js/atomiv.js"></script>

<!-- for sidebar -->
<!-- jQuery Custom Scroller CDN -->
<!-- JC -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> -->


<!-- Menu Toggle Script -->
<!-- <script>
    $(document).ready(function () {


$('#sidebarCollapse').on('click', function () {
    console.log('hello');
    $('#sidebar').toggleClass('active');
});

 -->

<script>
    $(document).ready(function () {


        // $("#sidebar").mCustomScrollbar({
        //     theme: "minimal"
        // });


        // ------------------------
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            // $('.overlay44').toggleClass('active');
            // console.log('sidebar opened');


            if ($('.navbar-collapse').is(':visible')) {
                // console.log('navbar opened prior');
            } else {
                // console.log('navbar not opened prior');
                $('.overlay44').toggleClass('active');
            }
        });
        // -------------------------------------
        $('#sidebarCollapse2').on('click', function () {
            $('#sidebar2').toggleClass('active');

            if ($('.navbar-collapse').is(':visible')) {
            } else {
                $('.overlay44').toggleClass('active');
            }
        });
        // ---------------------------------------
        $('.navbar-toggler').on('click', function () {

            if ($('#sidebar').hasClass('active')) {
                // console.log('overlay visible');
            } else if ($('#sidebar2').hasClass('active')) {
                // console.log('overlay visible2');
            } else {
                $('.overlay44').toggleClass('active');
                // console.log('overlay not visible');
            }

            $('#sidebar').removeClass('active');
            $('#sidebar2').removeClass('active');
            
        });
        // ----------------------------------
        $('.overlay44').on('click', function () {
            // console.log('overlay selected');
            $('.overlay44').removeClass('active');
            $('#sidebar').removeClass('active');
            $('#sidebar2').removeClass('active');
        });
        // -------------------------------

        $('body').on('click', function () {

            // console.log('body');
            // $('.overlay44').removeClass('active');


            // check if #sidebar visible
            // if ($('#sidebar').hasClass('active')) {
            //     console.log('--------------');
            // } else {
            //     if ($('#sidebar2').hasClass('active')) {
            //         //
            //     } else {
            //         $('.overlay44').removeClass('active');
            //     }
            // }



            // if ($('.overlay44').is(':visible')) {
            //     console.log('--------------');
            // }



            // if ($('#navbarResponsive').hasClass('show')) {
                
                // if ($('#navbarDropdown1').is(':visible')) {
                //     console.log('--------------');
                // }
                // else {
                //     $('.overlay44').removeClass('active');
                // }

                // if ($('#navbarDropdown2').is(':visible')) {
                // console.log('--------------');
                // }
                // else {
                // $('.overlay44').removeClass('active');
                // }
            // }
            
        });


        // $('#btnDropdown').on('click', function () {
        //     $('.overlay44').addClass('active');
        // });

        

    });
</script>


