<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	

<!-- <script src="{{ site.url }}/js/custom/custom.js"></script>	 -->

<!-- Prism -->
<script type="text/javascript" src="{{ site.url }}/js/prism-toolbar.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/clipboard.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/copy-to-clipboard.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/prism.js"></script>
<!-- Atomiv -->
<script type="text/javascript" src="{{ site.url }}/js/atomiv.js"></script>

<!-- for sidebar -->
<!-- jQuery Custom Scroller CDN -->
<!-- JC -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> -->


<!-- Menu Toggle Script -->
<!-- <script>
    $(document).ready(function () {


$('#sidebarCollapse').on('click', function () {
    console.log('hello');
    $('#sidebar').toggleClass('active');
});

 -->

<script>
    $(document).ready(function () {


        // $("#sidebar").mCustomScrollbar({
        //     theme: "minimal"
        // });


        // ------------------------
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            // $('.overlay44').toggleClass('active');
            console.log('sidebar opened');

            if ($('.overlay44').is(':visible')) {
                console.log('overlay visible');

                if ($('#sidebar').is(':visible')) {
                    console.log('sidebar visible');
                } else {
                    console.log('sidebar not visible');
                    // $('.overlay44').removeClass('active');
                }
                
                    // console.log('--------------');
            } else {
                console.log('overlay not visible');
                $('.overlay44').toggleClass('active');
            }



            if ($('.ov-navbar').is(':visible')) {
                console.log('--------------');
            }
        });

        // $('#sidebarCollapse2, .overlay44').on('click', function () {
        //     $('#sideba2r').toggleClass('active');
        //     $('.overlay44').toggleClass('active');
        //     console.log('hello there');
        // });

        $('.navbar-toggler').on('click', function () {
            $('#sidebar').removeClass('active');
            $('#sidebar2').removeClass('active');

            if ($('.overlay44').is(':visible')) {
                    // console.log('--------------');
            } else {
                // $('.overlay44').toggleClass('active');
            }

            $('.overlay44').toggleClass('active');
            
        });
        // ----------------------------------


        // $('body').on('click', function () {

        //     if ($('#navbarResponsive').hasClass('show')) {
                
        //         if ($('#navbarDropdown1').is(':visible')) {
        //             console.log('--------------');
        //         }
        //         else {
        //             $('.overlay2').removeClass('active');
        //         }

        //         if ($('#navbarDropdown2').is(':visible')) {
        //         console.log('--------------');
        //         }
        //         else {
        //         $('.overlay2').removeClass('active');
        //         }
        //     }
        // });


        // $('#btnDropdown').on('click', function () {
        //     $('.overlay2').addClass('active');
        // });

        

    });
</script>


