<nav id="sidebar" style="overflow: auto;">
    <ul class="list-unstyled components">
    <!-- site.frameworks -->
    <!--  | sort: 'order' -->
    <!-- assign groups = site.framework -->
    <!-- assign groups = page.collection | group_by: "category" -->
    {% assign groups = site.templates | group_by: "category" %}
    {% for group in groups %}
        <li>
            <a href="#{{ group.name }}"
            class="{% if group.name == page.category %}active44{% endif %}"
			data-toggle="collapse" aria-expanded="false">
                {% assign words = group.name | split: '-' %}
                {% for word in words %}{{ word | capitalize | replace: 'Dotnet','.NET' }} {% endfor %} 
            </a>

            {% for item in group.items %}
            <ul class="collapse list-unstyled 
            {% if group.name == page.category %}show{% endif %}
            " id="{{ group.name }}">
                <li class="{% if item.url == page.url %}active{% endif %}">
                    <a href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                </li>
            </ul>
            {% endfor %}
        </li>
        
    {% endfor %}										
    </ul>
</nav>




<!-- <a  {% if p.url == page.url %}class='active'{% endif %} href='{{ p.url }}'>
                {{ p.title }}
              </a> -->



<!-- {% assign pizza_articles = site.pizza | where:"grouped_by","articles" %}
<ul>
    {% for article in pizza_articles limit:33 %}
    <li><a href="{{ article.url | relative_url }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>               -->