<nav id="sidebar" class="sidebar" style="overflow: auto;">
    <ul class="list-unstyled components">
    <!-- site.frameworks -->
    <!--  | sort: 'order' -->
    {% for item in site.data.framework.docs %}

    <!-- {{page.title}}_<br/> -->
    <!-- {{item.title}}_<br /> -->
    <!-- {{page.url}}_<br /> -->
    <!-- {{item.url}}_<br /> -->
    {% assign item_title_1 = item.url %}
    {% assign page_url_2 = page.url | split:'/' %}
    {% assign page_url_0 = page.url | split:'/' %}

    <li>
        <a class="{% if page_url_0[2] == item_title_1 %}active44{% endif %}"
        href="#{{ item.url }}" data-toggle="collapse" aria-expanded="false">
            {{ item.title }}

        </a>
        <ul class="collapse list-unstyled 
        {% if page_url_2[2] == item_title_1 %}show{% endif %}
        " id="{{ item.url }}">
        {% for entry in item.submenuitems %}
            <li class="{% if entry.url == page.url %}active{% endif %}">
                <a href="{{ entry.url }}">
                    {{ entry.page }}

                </a>
            </li>
        {% endfor %}
        </ul>
    </li>
    
{% endfor %}										
    </ul>
</nav>




<!-- <a  {% if p.url == page.url %}class='active'{% endif %} href='{{ p.url }}'>
                {{ p.title }}
              </a> -->



<!-- {% assign pizza_articles = site.pizza | where:"grouped_by","articles" %}
<ul>
    {% for article in pizza_articles limit:33 %}
    <li><a href="{{ article.url | relative_url }}">{{ article.title }}</a></li>
    {% endfor %}
</ul>               -->