<!--<link rel="stylesheet" href="{{ site.url }}/css/default/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ site.url }}/css/flatly/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ site.url }}/css/simplex/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ site.url }}/css/slate/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ site.url }}/css/lux/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ site.url }}/css/cosmo/bootstrap.min.css">
<!--<link rel="stylesheet" href="{{ site.url }}/css/cerulean/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ site.url }}/css/solar/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ site.url }}/css/spacelab/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="{{ site.url }}/css/yeti/bootstrap.min.css">-->

<link rel="stylesheet" href="{{ site.url }}/css/custom/custom.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/custom.css">