header.ov-banner {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; 
    background-color: $primary;
    h1 {
      font-size: 2rem;
      font-weight: 500; 
      line-height: 1.2; 
      margin-top: 20px; 
      margin-bottom: 10px; 
      color: $white;
    }
}
