.ov-content {
    font-size: 15px;
    line-height: 1.5; 
    color: $gray-900;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    // @media (max-width: 576px) {
    //     .content-img-lg {
    //         max-width: 247px; // 275px
    //         padding: 0;
    //     }
    // }
    h2 {
        font-size: 1.75rem; 
        font-weight: 500; 
        line-height: 1.2;
        margin-top: 2rem; 
        margin-bottom: 1rem; 
    }
    p {
        margin-top: 14px;
    }
    ul {
        margin-top: 14px; 
        line-height: 1.4rem;
    }
    .ov-highlight {
        margin: 16px 0 16px 0;
        pre.ov-dark {
            white-space: normal; 
            background: #2d2d2d; 
            padding: 1.25rem; 
            margin: .5rem 0;
        }
        code.ov-html {
            white-space: nowrap; 
            line-height: 1.5; 
            font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; 
            font-size: 0.9rem; 
            color: #ccc;
        }
    }
    .ov-clipboard {
        display: block; 
        position: relative; 
        float: right;
        .btn-clipboard {
            position: absolute; 
            top: .5rem; 
            right: .5rem; 
            padding: .25rem .5rem; 
            font-size: 0.7rem; 
            color: $gray-600;
            background-color: transparent;
            border: 0;
            &:hover {
                color: $gray-500;
                background-color: $gray-700;
            }
            &:focus {
                outline: 0;
                box-shadow: none;
            }
            &:active {
                background-color: $gray-600;
            }
        }
    }
    @include media-breakpoint-up(sm) {
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
}




