// li { display: inline; }
// li:after { content: " \00b7"; color: red }


.ov-join {
    padding-top: 1rem; // 3
    padding-bottom: 1rem;
    @media (min-width: 768px) {
        padding-top: 2rem; // 4
        padding-bottom: 2rem;
    }
    @media(min-width: 992px) {
        padding-top: 3rem; // 5
        padding-bottom: 3rem;
    }
    // ---------------------------------
    .about-three-row {
        margin-top: 3rem; // 3 // 5
        .col-12 {
            margin-bottom: 3rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    h6 {
        font-size: 1.125rem;
    }
    hr {
        width: 50px; // 135
        margin: 0 0 14px 0;
        height: 3px;
        border: none;
        background-color: $primary;
        text-align: center;
        @media (max-width: 768px){
            margin: 0 auto 14px auto;
        }
    }
    .atomiv-roles {
        padding-top: 1rem;
        .col-6, .col-md-3 {
            div {
                // color: white;
                // color: #39b0ed;
                color: #80cef5;
                // background-color: $primary;
                background-color: #105ba6;
                text-align: center;
                font-size: 1.35rem;
                @media (min-width: 992px) {
                    font-size: 1.5rem;
                }
                padding-top: 3rem;
                padding-bottom: 3rem;
                color: #0b325a;
                background-color: #39b0ed;
                color: white;
                // background-color: $primary;
            }
            @media (max-width: 768px){
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .process-topics {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        ul li {
            margin-right: .25rem;
            margin-left: .25rem;
            margin-bottom: .5rem; // 1
            padding: .25rem 1rem; // .5 1rem
            // text-transform: uppercase;
            font-size: 14px;
            background: rgb(221, 234, 247);
            color: $gray-700;
            // color: pink;
        }
        ul {
            padding-inline-start: 0;
            @media (max-width: 768px) {
                text-align: center;
                margin: auto;
                li {
                    display: inline-block;
                }
            }
            @media (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
        p {
            // margin-bottom: 0;
        }
        h6 {
            // text-align: right;
            @media (max-width: 768px) {
                padding-bottom: .5rem;
            }
        }
        // border-bottom: 1px solid #9dd0e9;
        // box-shadow: 0 0 10px navy;
        // box-shadow: inset 0 0 10vw 2.5vw white;
        // box-shadow: 0 4px 2px -2px $primary;
        box-shadow: 0 4px 6px -6px $primary;

        // -webkit-box-shadow:0px 2px 1px -1px #de1dde;
        // -moz-box-shadow:0px 2px 1px -1px #de1dde;
        // box-shadow:0px 2px 1px  -1px #de1dde;

        &:last-child {
            border-bottom: none;
            box-shadow: none;
        }
    }
    .tech-topics {
        // background-color: rgb(238, 245, 252);
        background-color: rgb(221, 234, 247);
        // background-color: #f2f7fb;
    }
    .process-topics2 {
        ul li {
            background: rgb(245, 250, 255);
            color: $gray-700;
        }
        box-shadow: 0 4px 6px -6px $primary;
        box-shadow: 0 4px 6px -6px $gray-500;
        &:last-child {
            border-bottom: none;
            box-shadow: none;
        }
    }
    // ----------------------------------
    .join-row {
        padding-top: 3rem; // 2
        padding-bottom: 3rem;
        @media (min-width: 768px) {
            padding-top: 4rem; // 3
            padding-bottom: 4rem;
        }
        @media(min-width: 992px) {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    h5 {
        margin-bottom: 2rem;
    }
    // bullet points
    // ul {
    //     list-style-type: none;
    //     padding-right: 15px;
    //     padding-bottom: 1rem;
    //     li:before {
    //         content: "\2022";
    //         color: $primary;
    //         font-weight: bold;
    //         display: inline-block;
    //         width: 1em;
    //         margin-left: -1em;
    //     }
    //     li {
    //         margin-bottom: .25rem;
    //     }
    //   }
    .word1 {
        // #1077d4
        // color: #47b4cf;
        font-weight: 500;
    }
    strong {
        font-weight: 500 !important;
        // color: #47b4cf;
    }
    // #1077d4
    .contribute-col {
        // background-color: pink;
        padding-top: 2rem;
        // border: 1px solid #1077d4;
        box-shadow: 2px 2px 30px 0 rgba(16, 119, 212, .2);
        margin-right: -2rem;
        margin-left: -2rem;
        padding-right: calc(2rem - 15px);
        padding-left: calc(2rem - 15px);
    }
}