header.ov-masthead {
  min-height: 30rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: $primary;
  background-image: linear-gradient(to top, #054ec4, #1ea6e6);
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 499px) {
    min-height: calc(100vh - 65px);
  }
  @include media-breakpoint-up(xl) {
    min-height: 35rem;
  }
  .masthead-row {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 2.25rem; // 3 or maybe 1.75rem
      line-height: 1.2;
      font-weight: 400;
      color: $white;
      margin-bottom: 2.5rem; // 1.2 when i had <p>
    }
    p {
      font-size: 1.125rem; // 1.2
      line-height: 1.2;
      color: $white;
      font-weight: 400;
      margin-bottom: 2.5rem;
    }
    .btn {
      font-weight: 500;
      width: 100%;
      margin: 0;
    }
    .btn-lg {
      font-size: 20px;
      line-height: 24px;
      border-radius: 0;
    }
    .btn-ov-secondary{
      color: $primary;
      background-color: $white;
      border-color: transparent;
      &:hover,
      &:active {
        background-color: #e0e0e0;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
      }
      &:focus {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15);
      }
    }
    @include media-breakpoint-up(sm) {
      .btn {
        min-width: 160px;
        width: auto;
      }
      .btn-primary:hover{
        color: #252525;
        background-color: #ffffff; opacity: 0.5;
      }
    }
    @include media-breakpoint-up(md) {
      h1 {
        font-size: 2.5rem; // 3.5
        margin-bottom: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    @include media-breakpoint-up(lg) {
      h1 {
        font-size: 3rem; // 4 
      }
      p {
        font-size: 1.4rem;
      }
    }
    .heading-br {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    .masthead-img {
      @include media-breakpoint-down(md) {
        margin-top: 4rem;
      }
      @include media-breakpoint-down(sm) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      // masthead image
      figure {
        max-width: 200px; // 300 / 356px max
        overflow: hidden;
        margin:0;
        @include media-breakpoint-up(md) {
          float: right;
					// margin for visual reasons to push laptop down
          margin-top: 1.5rem;
          max-width: 100%;
        }
      }
      figure img{
        // display:block;
        margin:-6.5% -9.5%;
        width:128%;
      }
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
