// ---------------------------------
.s-padding {
  margin: .5rem 1rem;
  @include media-breakpoint-up(md) {
    margin: .5rem 2.25rem;
  }
}

.s-padding2 {
  margin: .5rem 1.5rem;
  @include media-breakpoint-up(md) {
    margin: .5rem 2.75rem;
  }
}

.ov-navbar {
  @include media-breakpoint-down(sm) {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
  }


  min-height: 3.75rem;
  background-color: $white;
  // background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  // 0 -0.4rem 0.9rem 0.2rem rgba(0,0,0,.5
  box-shadow: 0 -.5rem 1rem .25rem rgba(0,0,0,.4);
  // JC
  padding: .5rem 1rem;
  padding: 0;
  @include media-breakpoint-up(md) {
    padding: .5rem 2.25rem;
    padding: 0;
  }
  .navbar-brand {
    color: $primary;
    &:hover, &:focus, &:active, &.active {
      color: $primary;
    }
    img {
      margin-right: 0.25rem;
    }
  }
  .navbar-toggler {
    background-color: transparent;
    border-color: transparent;
    padding: 1px 6px 1px 6px; // padding: 1px 0px 1px 6px;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
  }
  .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  #navbarResponsive {
    @include media-breakpoint-down(sm) {
      text-align: left; // right
      background-color: rgb(244, 249, 255);
    }
    .navbar-nav {
      padding-top: .5rem;
      padding-bottom: .5rem;
      .nav-item {
        .nav-link {
          color: $gray-900;
          font-weight: 400;
          font-size: 1rem;
          padding: .75rem 0; // 0.5 0
          &:hover,
          &:active {
            color: $primary;
          }
          &:focus,
          &.active {
            color: $primary !important;
          }
        }
        button {
          border: none;
          background-color: transparent;
          text-align: left; // right
          float: left; // right
        }
      }
    }
    @include media-breakpoint-up(md) {
      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 0 0.7rem;
          }
          &:last-child {
            .nav-link {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}

// .dropdown:hover .dropdown-menu {
//   @include media-breakpoint-up(md) {
//     display: block;
//   }
// }

#navbarDropdown1 .dropdown-menu, #navbarDropdown2
.dropdown-menu {
  border-radius: 0;
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  margin: 0 -1.5rem .75rem -1.5rem;
  background: mix($primary, #fff, 12%);
  margin-top: 3rem;
  padding: 1rem 1.5rem;
  box-shadow: none;
  @include media-breakpoint-up(md) {
    margin: 0;
    margin-top: 19px;
    border: none;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.175);
    padding: .5rem 0;
  }
  // TO DO
  // JC show dropdown
  display: block;
  .dropdown-item {
    color: $gray-900;
    font-size: 1rem;
    // padding: .75rem 0; (navbar)
    padding: .5rem 2.5rem .5rem .5rem; // .5, 2.5, .5, 1.5
    @include media-breakpoint-up(md) {
      padding-left: 1.5rem;
    }
    &:hover,
    &:active {
      color: $primary;
      background: none;
    }
    &:focus,
    &.active {
      color: $primary !important;
      background: none;
    }
  }
}

// ---------------

// .navbar{
//   width:65% !important;
//   margin:0px auto;
//   left:0;
//   right:0;
//   padding:0;
// }

// .fixed-top {
//   left: 200px; /* just an estimate of your sidebar's width */
//   width: calc(100% - 200px);
// }


