.ov-promo {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  h3 {
    font-size: 1.7rem; 
    font-weight: 500; 
    line-height: 1.2;
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: $gray-900; 
  }
  p {
    margin-top: 1rem; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 1.5; 
    color: $gray-900; 
    margin-bottom: 0px;
  }
  .ov-promo-row {
    margin-left: -1rem;
    margin-right: -1rem;
    @include media-breakpoint-up(md) {
      margin-left: -2.4rem;
      margin-right: -2.4rem;
    }
  }
  @include media-breakpoint-down(sm) {
    img {
      max-width: 62px;
      padding: 0;
    }
  }
  @include media-breakpoint-up(sm) {
    img {
      max-width: 62px;
    }
    h3 {
      font-size: 1.7rem; 
      font-weight: 500; 
      line-height: 1.2;
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
    p {
      margin-top: 1rem; 
      font-size: 15px; 
      font-weight: 400; 
      line-height: 1.5; 
      margin-bottom: 0px;
    }
  }
  @include media-breakpoint-up(md) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    img {
      max-width: 86px;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    img {
      max-width: 100px;
    }
  }
}

