.main-container2 {
    min-height: calc(100vh - 60px); /* will cover the 100% of viewport */
    margin-top: 60px;
    padding-bottom: 250px; /* height of your footer */
    @include media-breakpoint-up(md) {
      padding-bottom: 250px;
    }
    @include media-breakpoint-up(xl) {
        padding-bottom: 229px;
    }
    .container {
        // margin-left: 2rem;
        // margin-right: 10rem;
        // original
        padding-right: 24px;
        padding-left: 24px;
    }
    @media (min-width: 576px) {
        .container {
          max-width: 540px; // 540
        }
      }
      
      @media (min-width: 768px) {
        .container {
          max-width: 720px; // 720
          padding-right: 4rem; // or 3
          padding-left: 4rem;
        }
      }
      
      @media (min-width: 992px) {
        .container {
          max-width: 960px; // 920 // 960px;
          padding-right: 6rem; // or 3
          padding-left: 6rem;
        }
      }
      
      @media (min-width: 1200px) {
        .container {
          max-width: 960px; // 920 // 1140px;
        }
      }
}

// sidebar
// .wrapper
.wrapper {
    display: flex; // not block
    width: 100%;
    // JC
    height: 100vh;
    // JC
    // flex-flow: row nowrap;
    // JC
    // justify-content:space-between;
    @include media-breakpoint-up(md) {
        display: flex;
        // width: 100%;
        align-items: stretch;
        // JC
        // align-items: flex-start;
    }
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
// --------------------
// sidebar
.wrapper {
   
    /* Track */
    // long thing
    ::-webkit-scrollbar-track {
        // background: #f1f1f1;
        // border: 1px solid $gray-800;
        background-color: #F5F5F5;
        // background-color: #ebebeb;
        background-color: $gray-200;
        // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
        border: 1px solid rgba(0,0,0,.01);
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
	    background-color: #F5F5F5;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        // background: #888;
        // outline: 1px solid slategrey;
        background-color: rgba(16,119,212,0.2);
        // background-color: $gray-300;
        // default
        // rgb(238, 245, 252)
        // active
        // rgba(16,119,212,0.1)
        // hover
        // rgba(16,119,212,0.1)
    }
    
    /* Handle on hover */
    // ::-webkit-scrollbar-thumb:hover {
    //     background: #555;
    // }
    // -------

    
}
// body::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }
//   ------------------

.sidebar {
    // -------------
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    // overflow: auto;
    overflow-y: scroll;
    // -------------
    min-width: 288px;
    max-width: 288px;
    // JC
    // min-height: calc(100vh - 60px); // yes
    // height: 100vh;
    margin-top: 60px; // yes
    // sidebar bg ----------------------------------------------------
    background: $gray-100;
    background: white;
    background: rgba(16, 119, 212, 0.07);
    background: mix($primary, #fff, 7%); // .25
    color: $gray-900;
    // border-right: 1px solid $gray-300;
    // border-right: 1px solid rgba(16, 119, 212, 0.1);
    // activated when no sidenav and 'Toggle Button' is clicked
    transition: all 0.3s; // .25s
    // overflow: scroll;

    // ... 
    overflow-y: scroll;
    // height: 100vh;
    height: calc(100vh - 60px);
    // flex: 1 0 auto;
    @include media-breakpoint-down(sm) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
}

.sidebar ul.components {
    padding: 1rem 0; // or 1rem or 1.5
    // line under all links
    // border-bottom: 1px solid #47748b;
}

.sidebar ul li a {
    // heading padding -------------------------------
    // padding: 10px;
    // padding: 10px 2rem;
    padding: 10px 2rem; // 1.5 - 2 squares
    padding-left: 2rem; // or 4 // used to be 2 // 5 is PRETTY
    @include media-breakpoint-down(sm) {
        padding-left: 2rem;
    }
    @media (max-width: 500px) {
        padding-left: 2rem;
    }
    font-size: 1rem;
    font-weight: 600;
    display: block;
    // margin-left: 1.5rem; // v2 2rem
}
.sidebar ul li a:hover {
    // color: rgb(213, 115, 172);
    background: #fff;
    background: rgba(16, 119, 212, 0.1);
}

.active44 {
    color: $primary !important;
}
.sidebar ul li.active > a, a[aria-expanded="true"] {
    // heading active---------------------------------------
    // only one should be highlighted
    // color: $primary;
    font-weight: 600;
    // border-left: 5px solid #158ffa; // #1077d4 // v2
    // margin-left: 1.5rem; // v2 calc(1.5rem - 5px)
}
.sidebar ul li {
    // a:active, 
    a.active {
        // background-color: pink !important;
        color: $primary !important;
    }
}
ul ul a {
    font-size: 1rem !important;
    // padding-left: 6rem !important; // used to be 3  .. subtract 3 .. 6 is PRETTy
    padding-left: 3rem !important;
    // under the heading
    // background: yellow;
    font-weight: 400 !important;
    &:hover {
        background: rgba(16, 119, 212, 0.1) !important;
    }
}

ul ul li {
    &:active, &.active {
        color: $primary;
        background: rgba(16, 119, 212, 0.1) !important;
    }
}

.sidebar.active {
    margin-left: -288px;
    // activated when there is a sidenav and toggle button is clicked
    // -webkit-transition: margin .25s ease-out;
}

// --------------
a[data-toggle="collapse"] {
    position: relative;
}

// arrow after heading, dropdown
// .dropdown-toggle::after {
//     display: block;
//     position: absolute;
//     top: 50%;
//     right: 20px;
//     transform: translateY(-50%);
// }
// ------------
// sidebar disappears < md
// max-width: 768
@media (max-width: 768px) {
    .sidebar {
        margin-left: -288px;
    }
    .sidebar.active {
        margin-left: 0;
    }
}
// ---------------------


// --------------------
// #content
#page-content-wrapper {
    // min-width: 100vw;
    width: 100%;
    // JC
    min-height: 100vh;
    // JC
    transition: all 0.3s;
    @include media-breakpoint-down(sm) {
        // width: 100%;
    }
    @include media-breakpoint-up(md) {
        margin-left: 288px;
    }
}

// .push, .ov-footer {   height: 60px; }

// visually to look like navbar toggle icon
.sidebar-ellipsis {
    background-color: transparent;
    border-color: transparent;
    padding: 1px 6px 1px 6px; // padding: 1px 6px 1px 0px;
    color: rgba(0,0,0,0.5);
    font-size: 1.25rem;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: .25rem;
    @include media-breakpoint-up(md) {
        margin-right: .5rem;
        display: none;
    }
}

button {
    outline: 0;
}

// .btn:focus
button, button.focus, button:focus, button:active, button.active {
    outline: 0;
}

// ---------------

.overlay44 {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 998;
    opacity: 0;
}

.overlay44.active {
    display: block;
    opacity: 1;
}

// ----------------------
.overlay, .overlay33 {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.6);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 996;
    opacity: 0;
    /* animate the transition */
    // transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active, .overlay33.active {
    display: block;
    opacity: 1;
}

.overlay2 {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.6);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 997;
    opacity: 0;
    /* animate the transition */
    // transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay2.active {
    display: block;
    opacity: 1;
}

// -----------------
.template-banner {
    background-color: $primary;
    background-color: rgba(16, 119, 212, 0.75);
    color: white;
    padding: 3rem 0;
    margin-bottom: 1rem;
    margin-top: -60px;
    h1 {font-weight: 400 !important;}
}

// sidebar not to scroll down with text
aside {
    position: fixed;
    height: 100vh; // 100%
    // width: 288px;
    top: calc(60px);
    // top: 0;
    left: 0;
    overflow: scroll;
    // overflow: hidden;
}

::-webkit-scrollbar {
    // width: 0px;
    // background: transparent; /* make scrollbar transparent */
    // hide vertical scrollbar
    // display:none;

}

// .sidebar {
//     display: flex;
// }

// -------------------
// Framwork.. Templates 
.template-content {
    padding-bottom: 3rem;
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        line-height: 1.2;
    }
    // 'Features' banner heading
    // h1 {
    //     font-size: 2rem;
    //     margin-bottom: 3rem;
    // }
    // 'Home' h3
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    // 'Features' headings below
    h2 {
        font-size: 1.75rem; // 1.5
        margin-bottom: 1.5rem;
        padding-top: 3rem; // 1 ---
        // padding-bottom: 1rem;
    }
    h3 {
        font-size: 1.5rem; // 1.25
        margin-top: 1.5rem;
        margin-bottom: .5rem;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }
    h4 {
        font-size: 1.35rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        // padding-bottom: .5rem;
        // padding-top: .5rem;
    }
    p {
        // font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    ol, ul, dl {
        margin-bottom: 1.5rem;
    }
    @include media-breakpoint-up(md) {
        h1 {
            font-size: 2rem;
            margin-bottom: 1.25rem;
        }
        h2 {
            font-size: 1.75rem;
            margin-bottom: 2rem; // 1.25
        }
        h3 {
            font-size: 1.5rem;
        }
    }
    @include media-breakpoint-up(lg) {
        // h1 {
        //     font-size: 2.75rem;
        // }
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.75rem; // 2
        }
        h3 {
            font-size: 1.5rem; // 1.75
        }
    }
    a, a:hover, a:link {
        color: $primary;
    }
}

.template-links {
    margin-bottom: 3rem; // 3 + 1.5 <p>
    color: $primary;
    .next {
        margin-bottom: 3rem;
    }
}

.next a {
    align-items: flex-end;
}

// --------------------------------------------------
.template-content {
    // ![Microservice architecture]({{site.url}}/assets/microservices.png){:class="img-responsive"}
    .img-responsive {
        max-width: 100%;
    }

    // max width for jekyll images
    img[src$=".png"], img[src$=".jpg"], img[src$=".jpeg"], img[src$=".svg"] {
        width: 100%;
        margin-bottom: 2rem;
    }
}

