
// @import "base";
// @import "type";
// @import "layout";
// @import "syntax-highlighting";

@import "./atomiv/type";




@import "variables.scss";
// @import "mixins.scss";
// Import Bootstrap
@import "../css/bootstrap/bootstrap.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "footer.scss";
@import "banner.scss";
@import "content.scss";
@import "masthead.scss";
@import "promo.scss";
@import "benefits.scss";
@import "sidebar.scss"; // templates

// JC
// body {
//     overflow-y: hidden;
//   }


// navbar toggler
.navbar-toggler.collapsed .close {
    display: none;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
  }



// ---
// ---

// @charset 'UTF-8';

// // 1. Configuration and helpers
// @import '1-helpers/mixins';
// @import '1-helpers/variables';
// @import '2-helpers/normalize';

// // 2. Base stuff
// @import '2-basics/base';
// @import '2-basics/fonts';
// ...


// technical details table FEATURES

table{
  border-collapse: collapse;
  border-spacing: 0;
  // border:2px solid #ff0000;
  width: 100%;
  max-width: 100%;
  // border-style: none;
  margin-bottom: 2rem !important; // 3rem or 2rem
}

th{
  // border:2px solid #9e265e;
  background: $gray-100;
  font-weight: 400;
  // color: rgb(24, 60, 177);
  background: rgb(108, 116, 155);
  background: rgb(78, 104, 160);
  background: rgb(78, 104, 160);
  background: rgb(63, 86, 138);
  color: white;
}

tr {
  // background-color: $gray-100;
}


.table th, .table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid $gray-300; // #eaeaea
  border-top-width: 1px;
  border-top-style: solid;
}

.table tbody+tbody {
  border-top: 1px solid $gray-300;
}