---
layout: default
---
<!-- displaying author details when click on author link in list of authors -->
<!-- <h1>{{ page.name }}</h1> -->
<!-- <h2>{{ page.position }}</h2> -->

{{ content }}



<div>
  <!-- TO DO VC increment version number when changing image -->
  <img height="100" width="100" src="{{ site.url }}/img/about/team/{{ author.photo }}?v=4" alt="{{author.name}}"
  class="img-fluid w-100 profile-img">
</div>
<div>
  <h5>{{ author.name }}</h5>
  <h6>{{ author.position }}</h6>
  <p>{{ author.content | markdownify }}</p>
  {% if author.city and author.country %}
  <p class="mb-1 mb-md-0">{{ author.city}}, {{ author.country }}</p>
  {% endif %}
  {% if author.degree and author.university %}
  <p class="mt-0 mb-4 mb-md-3">{{ author.degree }} | {{ author.university }}</p>
  {% endif %}
  <div style="">
      {% if author.linkedin %}
      <a href="{{ author.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
      {% endif %}
      {% if author.xing %}
      <a href="{{ author.xing }}" target="_blank"><i class="fab fa-xing"></i></a>
      {% endif %}
      {% if author.github %}
      <a href="{{ author.github }}" target="_blank"><i class="fab fa-github"></i></a>
      {% endif %}
      {% if author.website %}
      <a href="{{ author.website }}" target="_blank"><i class="fa fa-globe"></i></a>
      {% endif %}
  </div>
</div>
 


















<!-- <article class="animal">

  <img src="{{ page.picture }}" alt="Photo of a {{ page.title | downcase }}">

  <h1>Animal Profile: {{ page.title }}</h1>

  <div class="animal-class {{ page.class | downcase }}">
    {{ page.class }}
  </div>

  <div class="animal-family {{ page.family | downcase }}">
    {{ page.family }}
  </div>

  <div>
    {{ content }}
  </div>

</article> -->