---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>{{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>

	<!-- JC. main container -->
	<div class="main-container">

	    {% include navigation.html %}
	
		<!-- Masthead -->
		<header class="ov-masthead d-flex align-items-center justify-content-center" id="">
			<div class="container text-center">
				<h1>{{ page.title }}</h1>
				<p>{{ page.description1 }} <br> {{ page.description2 }}</p>
				<a href="{{ page.headerLink }}" class="btn btn-lg btn-ov-secondary mb-0">
				{{ page.linkButton }}
				</a>
			</div>
		</header>
		

		<!-- <h4 class="test-heading">hello</h4> -->


		<!-- Promo -->
		<article class="ov-promo">
			<div class="container text-center">
				<div class="row ov-promo-row">

					<div class="col-12 col-md-4 ov-promo2 py-4 py-md-0 px-md-4">
						<img height="100" width="100" src="{{ site.url }}/img/ov-promo-1.svg" alt="architecture" class="img-fluid w-100 ov-promo-img">
						<h3>Team Productivity</h3>
						<p>Atomiv helps teams start quickly and work productively on software projects</p>
					</div>

					<div class="col-12 col-md-4 ov-promo2 py-4 py-md-0 px-md-4">
						<img height="100" width="100" src="{{ site.url }}/img/ov-promo-2.svg" alt="code" class="img-fluid w-100 ov-promo-img">
						<h3>Software Quality</h3>
						<p>Atomiv helps teams produce high quality software through industry best practices</p>
					</div>

					<div class="col-12 col-md-4 ov-promo2 py-4 py-md-0 px-md-4">
						<img height="100" width="100" src="{{ site.url }}/img/ov-promo-3.svg" alt="quality" class="img-fluid w-100 ov-promo-img">
						<h3>Cost Efficiency</h3>
						<p>Atomiv helps teams make software in a cost efficient way with long-term savings</p>
					</div>

				</div>
			
			</div> 
		</article>

		<!-- Text -->
		<main class="ov-content">
			<div class="container container2">
				<div class="mx-sm-n3">
					<div class="mt-sm-3 mt-md-4">
						{{content}}
					</div>
				</div>
			</div>
		</main>
		

		{% include footer.html %}

	</div>
	
	{% include scripts.html %}
	
  </body>
</html>
