---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>Atomiv - {{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>

	<div class="main-container">

	    {% include navigation.html %}
	
		<!-- Masthead -->
		<header class="ov-masthead" id="">
			<div class="container container-masthead">
				<div class="row masthead-row">
					<div class="col-12 col-md-6 text-center text-md-left">
						<h1>{{ page.title1 }} <br class="heading-br"/>{{ page.title2 }}</h1>
						<a href="{{ page.headerLink }}" class="btn btn-lg btn-ov-secondary mb-0" target="_blank" rel="license noopener">
						{{ page.linkButton }}
						</a>
					</div>
					<div class="col-12 col-md-6 masthead-img">
						<figure>
							<img src="{{ site.url }}/img/digital/masthead.svg" height="" width="" alt="masthead"
							style="
							background-color: none;

							/* width: 100%; height: auto; display: block; */
							/* object-fit: cover; object-position: 100% 0; width: 100%;	overflow: hidden; */
							/* margin: -6.5% -25% -7.5% -9.5%; */

							">
						</figure>
					</div>
				</div>
			</div>
		</header>


		<!-- Promo / Benefits -->
		<article class="ov-benefits">
			<div class="container">
				<!-- row 1 -->
				<div class="row ov-benefits-row ov-padding-row">
					<div class="col-12 col-md-4 order-md-1">
						<img height="100" width="100" src="{{ site.url }}/img/digital/ov-promo-4.svg" alt="architecture"
						class="img-fluid w-100 benefits-img">
					</div>
					<!--
					<div class="col-12 col-md-8 order-md-0 col-text-1">
						<h3>Enhance IT team productivity</h3>
						<p>Atomiv templates help your IT teams start projects faster, helps unify communication between team members and promotes standardization.</p>
					</div>
					-->
					<div class="col-12 col-md-8 order-md-0 col-text-1">
						<h3>Standardizing software projects</h3>
						<p>Atomiv promotes standardization within enterprise software projects. This helps unify processes and software architecture across teams.</p>
					</div>
					
				</div>
				<!-- row 2 -->
				<div class="row ov-benefits-row ov-padding-row">
					<div class="col-12 col-md-4 order-0">
						<img height="100" width="100" src="{{ site.url }}/img/digital/ov-promo-5.svg" alt="code" class="img-fluid w-100 benefits-img">
					</div>
					<!--
					<div class="col-12 col-md-8 order-1 col-text-2">
						<h3>Boost quality of IT projects</h3>
						<p>Atomiv templates help your IT teams start and continue projects with in-built quality, based on globally recognized best practices.</p>
					</div>
					-->
					
					<div class="col-12 col-md-8 order-1 col-text-2">
						<h3>Open source & open knowledge</h3>
						<p>Atomiv openly shares best practices to achieve IT industry-wide improvements. It is free to be used for commercial purposes (MIT & CC BY 4.0).</p>
					</div>
					
				</div>
				<!-- row 3 pb-0 -->
				<div class="row ov-benefits-row ov-padding-row">
					<div class="col-12 col-md-4 order-md-1">
						<img height="100" width="100" src="{{ site.url }}/img/digital/ov-promo-6.svg" alt="quality" class="img-fluid w-100 benefits-img">
					</div>
					<!--
					<div class="col-12 col-md-8 order-md-0 col-text-1">
						<h3>Reduce total IT project costs</h3>
						<p>Atomiv templates help make IT projects more predictable, it helps ensure cost efficiency, and helps decrease total project cost.</p>
					</div>
					-->
					
					<div class="col-12 col-md-8 order-md-0 col-text-1">
						<h3>Global cross-functional network</h3>
						<p>Atomiv is a global network of people from multiple companies and multiple roles who collaborate together to make an impact.</p>
					</div>
					
				</div>
			</div> 
		</article>


		<!-- Video -->
		<!-- <article class="ov-benefits ov-video">
			<div class="container ov-template ov-video-padding">
				<h2>See it in action</h2>
				<div class="video-placeholder">
					<img height="" width="" src="{{ site.url }}/img/video-placeholder.png" alt="architecture" class="video-placeholder">
				</div>
			</div>
		</article> -->



		<!-- Templates list -->
		<article class="ov-benefits">
			<div class="container ov-template">
				<h2>Framework</h2>

				<div class="row ov-template-row">
					<!-- row 1 -->
					<div class="col-12 col-md-6">
						<a href="/project-management/overview">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Project Management</h4>
							</div>
						</a>
					</div>
					<!-- row 2 -->
					<div class="col-12 col-md-6">
						<a href="/business-analysis/overview">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Business Analysis</h4>
							</div>
						</a>
					</div>
					<!-- row 3 -->
					<div class="col-12 col-md-6">
						<a href="/software-architecture/overview">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Software Architecture</h4>
							</div>
						</a>
					</div>
					<!-- row 4 -->
					<div class="col-12 col-md-6">
						<a href="/dot-net-core/get-started">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>.NET Core</h4>
							</div>
						</a>
					</div>
					<!-- row 5 -->
					<div class="col-12 col-md-6">
						<a href="/angular/get-started">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Angular</h4>
							</div>
						</a>
					</div>
					<!-- row 6 -->
					<div class="col-12 col-md-6">
						<a href="/quality-assurance/manual-testing">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Big Data</h4>
							</div>
						</a>
					</div>
					<!-- row 7 -->
					<!-- no proper url -->
					<div class="col-12 col-md-6">
						<a href="/big-data/data-sources">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Quality Assurance</h4>
							</div>
						</a>
					</div>
					<!-- row 8 -->
					<div class="col-12 col-md-6">
						<a href="/system-admin/responsibilities">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>System Admin</h4>
							</div>
						</a>
					</div>
					<!-- row 9 -->
					<div class="col-12 col-md-6">
						<a href="/devops/overview">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>DevOps</h4>
							</div>
						</a>
					</div>
					<!-- row 10 -->
					<div class="col-12 col-md-6">
						<a href="/recruitment/overview">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Recruitment</h4>
							</div>
						</a>
					</div>					

					<!-- row 7 -->
					<div class="col-12 col-md-6">
						<a href="https://docs.atomiv.com/devops" target="_blank">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>DevOps</h4>
							</div>
						</a>
					</div>
					<!-- row 8 -->
					<div class="col-12 col-md-6">
						<a href="https://docs.atomiv.com/recruitment" target="_blank">
							<div class="ov-inner-row grow">
								<img height="100" width="100" src="{{ site.url }}/img/digital/atomiv.svg" alt="architecture" class="t-img">
								<h4>Recruitment</h4>
							</div>
						</a>
					</div>

				</div>

			</div>
		</article>

		
		
		
		<!-- link trademark to the logos, check if necessary, automapper -->

		<!-- Technologies used list -->
		<article class="ov-benefits">
			<div class="container ov-template">
				<h2>Technologies</h2>
				<div class="row ov-template-row t-logo-row">
					<a href="https://docs.microsoft.com/en-us/dotnet/" target="_blank">
						<img height="" width="" src="{{ site.url }}/img/tech/dotnetcore.png" alt="architecture"	class="img-fluid t-logo-img">
					</a>
					<a href="https://angular.io/" target="_blank">
						<img height="" width="" src="{{ site.url }}/img/tech/angular.png" alt="architecture" class="img-fluid t-logo-img">
					</a>
					<a href="https://www.selenium.dev/" target="_blank">
						<img height="" width="" src="{{ site.url }}/img/tech/selenium.png" alt="architecture" class="img-fluid t-logo-img">
					</a>
				</div>
			</div>
		</article>


		<!-- Partners, Sponsors -->
		<article class="ov-benefits">
			<div class="container ov-template">
				<h2>Partners</h2>
				<div class="row ov-template-row t-logo-row">
					<a href="https://optivem.com/" target="_blank">
						<img height="" width="" src="{{ site.url }}/img/partners/optivem.svg" alt="architecture" class="img-fluid t-logo-img2">
					</a>
					<a href="http://senovim.com/" target="_blank">
						<img height="" width="" src="{{ site.url }}/img/partners/senovim3.svg" alt="architecture" class="img-fluid t-logo-img2">
					</a>
				</div>
			</div>
		</article>



		<!-- call-to-action -->
		<article class="ov-benefits call-to-action">
			<div class="container ov-video-padding">
				<h3>Let's collaborate together</h3>
				<p>Are you motivated by standardization, best practices and high quality? Do you enjoy sharing your experience and knowledge? Do you want to make an impact within the IT industry? Do you want to network with people across the globe who share these motivations? If yes, we'd like to hear from you!</p>
				<a href="/contact" class="btn btn-lg btn-ov-secondary">
					Get in touch
				</a>

			</div>
		</article>



<!-- ---------------------------------------------------------------------------------- -->


		<!-- Text -->
		<!-- <main class="ov-content">
			<div class="container container2">
				<div class="mx-sm-n3">
					<div class="mt-sm-3 mt-md-4"> -->
						{{content}}
					<!-- </div>
				</div>
			</div>
		</main> -->
		
		

		{% include footer.html %}

	</div>
	
	{% include scripts.html %}
	
  </body>
</html>

