---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>Atomiv - {{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  
	<div class="main-container">

		{% include navigation.html %}
		     

        <!-- Banner -->
        <header class="ov-banner" id="">
            <div class="container">
                <h1>{{ page.title }}</h1>
                <div class="d-flex justify-content-center">
                    <figure class="{{ page.figure-class }}">
                        <img height="" width="" src="{{ site.url }}{{ page.image }}" alt="{{ page.alt }}" class="img-fluid {{ page.image-class }}">
                    </figure>
                </div>
            </div>
        </header>


		<!-- Text -->
		{{content}}


		{% include footer.html %}

	</div>

	{% include scripts.html %}
	
  </body>
</html>
