---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>Atomiv - {{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  
	<div class="main-container">

		{% include navigation.html %}
		
		<!-- Banner -->
		<!-- <header class="ov-banner2" id="get-started">
			<div class="container2">
				<div class="mx-sm-n3">
					How can Chrome Enterprise work for my organization?
					Connect with customers around the corner and around the globe
					<h1>{{ page.title }}</h1>
					<p class="lead">{{ page.description }}</p>
				</div>
			</div>
		</header> -->
		

		<!-- it project | collaborate | simplify | communicate -->









		<!-- Text -->
		{{content}}


		{% include footer.html %}

	</div>

	{% include scripts.html %}
	
  </body>
</html>





				<!-- row 2 -->
				<!-- <div class="row ov-about-row">
					<div class="col-12 col-xl-6">
						<div class="d-flex align-items-center">
							<div>
								<img height="100" width="100" src="{{ site.url }}/img/about/jelena.png" alt="architecture"
								class="img-fluid w-100 profile-img">
							</div>
							<div>
								<h5>Jelena Cupać</h5>
								<h6>Frontend Developer & Designer</h6>
							</div>
						</div>
						<p>Jelena is a passionate Frontend Developer with a background in design. She develops web enterprise applications with Angular and designs WordPress themes for content websites. She uses Bootstrap and SASS to create custom designs. She enjoys working with various technologies in order to deliver websites</p>
					</div>
				</div> -->