---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>{{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  
	<div class="">



		{% include navigation.html %}
		


		<div class="wrapper" style="overflow: hidden;">
			
			{% include sidebar-framework.html %}


			<div id="page-content-wrapper" class="content22" style="overflow: auto">

                <div class="main-container main-container2">
					
                    <div class="container">

						<div class="template-content">
							<h1>{{page.title}}</h1>
							{{content}}
						</div>

						<!-- &laquo; -->
						<!-- &raquo; -->
						<!-- {{ page.title }} <br /> -->
						<!-- {{ page.url }} <br /> -->
						<!-- {{ page.category }}... <br/> -->
						<!-- {{page.previous.title}} <br/> -->
						<!-- {{page.previous.url}} <br/> -->
						<!-- {{page.next.url}} <br/> -->
						<!-- PC: {{page.category}} <br/> -->
						<!-- PPC: {{page.previous.category}} <br/> -->




						<!-- <div class="template-links"> -->
							<!-- { % if page.previous.url % } -->
							<!-- {% if page.previous.category == page.category %}
							<span>
								<a href='{{page.previous.url}}'>
									<svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
									</svg>
									{{page.previous.title}}
								</a>
							</span>
							{% endif %} -->
							
							<!-- { % if page.next.url % } -->
							<!-- {% if page.next.category == page.category %}
							<span class="next" style="float: right;">
								<a href="{{page.next.url}}">
									{{page.next.title}}
									<svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
									  </svg>
								</a>
							</span>
							{% endif %} -->
						<!-- </div> -->




                    </div>
                    
                    {% include footer-templates.html %}

                </div>

			</div>

			<!-- Dark Overlay element -->
			<div class="overlay44 d-md-none"></div>
		
		</div>



	</div>

	{% include scripts.html %}
	
  </body>
</html>




						<!-- #pageSubmneu, #homeSubmenu -->
						<!-- <a>Another heading<i class="icon-angle-down"></i></a> -->
						<!-- <a href="#" data-toggle="collapse" data-target="#submenu1">
							helloss<i class="icon-angle-down"></i>
							</a> -->
							<!-- when click on arrow, change direction ... $('[data-toggle=collapse]').click(function(){
								$(this).find("i").toggleClass("icon-angle-right icon-angle-down");
							}); -->
							<!-- <button class="dropdown-btn">Dropdown
								<i class="fa fa-caret-down"></i>
							</button> -->
						<!-- class="dropdown-toggle" -->


						<!-- <div id="dismiss">
							<i class="fas fa-arrow-left"></i>
						</div> -->










						<!-- <div class="template-links">
							{% if page.previous.category == page.category %}
							<span>
								<a href='{{page.previous.url}}'>
									<svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
									</svg>
									{{page.previous.title}}
								</a>
							</span>
							{% endif %}
							
							{% if page.next.category == page.category %}
							<span class="next" style="float: right;">
								<a href="{{page.next.url}}">
									{{page.next.title}}
									<svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
									  </svg>
								</a>
							</span>
							{% endif %}
						</div> -->


<!-- { % assign fruits = "orange,apple,peach" | split: ',' %}

{ % for fruit in fruits %}
  {{ fruit }}
{ % endfor %} -->



							<!-- function next() {
								document.location.href='{% if num_of_pages > next_i %}{{ entry[next_i].url }}{% else %}{{ entry[0].url }}{% endif %}';
							}
							function prev() {
								document.location.href='{% if prev_i < 0 %}{{ entry[last_i].url }}{% else %}{{ entry[prev_i].url }}{% endif %}';
							} -->