---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>{{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  
	<div class="">



		{% include navigation.html %}
		


		<div class="wrapper" style="overflow: hidden;">
			
			{% include sidebar-framework.html %}


			<div id="page-content-wrapper" class="content22" style="overflow: auto">

                <div class="main-container main-container2">
					
                    <div class="container">

						<div class="template-content">
							<h1>{{page.title}}</h1>
							{{content}}
						</div>

						<!-- &laquo; -->
						<!-- &raquo; -->
						<!-- {{ page.title }} <br /> -->
						<!-- {{ page.url }} <br /> -->
						<!-- {{ page.category }}... <br/> -->



						<!-- ----------------------------------------------------- -->
						<!-- List of authors -->

						<hr class="author-hr">

						<h5 class="author-h">Written by</h5>

						<div class="author-container">

						{% for author3 in page.author %}
						{% for siteauthor in site.data.authors.docs %}
						{% if author3 == siteauthor.url %}
						{% for author in site.authors %}
							{% if siteauthor.name == author.name %}

								{% include author.html %}

							{% endif %}
						{% endfor %}
						{% endif %}
						{% endfor %}
						{% endfor %}

						</div>

						


                    </div>
                    
                    {% include footer-templates.html %}

                </div>

			</div>

			<!-- Dark Overlay element -->
			<div class="overlay44 d-md-none"></div>
		
		</div>



	</div>

	{% include scripts.html %}
	
  </body>
</html>




						<!-- #pageSubmneu, #homeSubmenu -->
						<!-- <a>Another heading<i class="icon-angle-down"></i></a> -->
						<!-- <a href="#" data-toggle="collapse" data-target="#submenu1">
							helloss<i class="icon-angle-down"></i>
							</a> -->
							<!-- when click on arrow, change direction ... $('[data-toggle=collapse]').click(function(){
								$(this).find("i").toggleClass("icon-angle-right icon-angle-down");
							}); -->
							<!-- <button class="dropdown-btn">Dropdown
								<i class="fa fa-caret-down"></i>
							</button> -->
						<!-- class="dropdown-toggle" -->


						<!-- <div id="dismiss">
							<i class="fas fa-arrow-left"></i>
						</div> -->