---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>{{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  
	<div class="">


		{% include navigation.html %}
		

		<!-- style="overflow: hidden;" -->
		<div class="wrapper">
			
			{% include sidebar-feature.html %}


			<!-- style="overflow: auto" -->
			<div id="page-content-wrapper" class="content22">

                <div class="main-container main-container2">
					
                    <div class="container">

						<div class="template-content">
							<h1>{{page.title}}</h1>
							{{content}}
						</div>



						<!-- <div class="template-links">
							{% if page.previous.category == page.category %}
							<span>
								<a href='{{page.previous.url}}'>
									<svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
									</svg>
									{{page.previous.title}}
								</a>
							</span>
							{% endif %}
							
							{% if page.next.category == page.category %}
							<span class="next" style="float: right;">
								<a href="{{page.next.url}}">
									{{page.next.title}}
									<svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
									  </svg>
								</a>
							</span>
							{% endif %}
						</div> -->


                    </div>
                    
                    {% include footer-templates.html %}

                </div>

			</div>

			<!-- Dark Overlay element -->
			<!-- d-md-none -->
			<div class="overlay44 d-lg-none"></div>
		
		</div>



	</div>

	{% include scripts.html %}
	
  </body>
</html>
