---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>{{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  

		{% include navigation.html %}
		


		<div class="wrapper" style="overflow: hidden;">
			<!-- Sidebar -->
			<nav id="sidebar2" style="overflow: auto;">

				hello


				<ul class="list-unstyled components">

					{% assign groups = site.templates | group_by: "category" %}
				
					{% for group in groups %}
	
<!-- GN: {{group.name}}
PN: {{page.category}} -->
	
						<li>
							<!-- href="#{{ item.href }}" -->
							<a class="{% if group.name == page.category %}active44{% endif %}"
							href="#submenu11" data-toggle="collapse" aria-expanded="false">
								{{ group.name }}
							</a>
	
							{% for item in group.items %}
							<ul class="collapse list-unstyled
							{% if item.vversion4 == page.vversion4 %}show{% endif %}
							" id="{{ item.url }}">
	
								<li class="{% if item.url == page.url %}active{% endif %}">
									<!-- a href="{{ site.baseurl }}{{ item.url }} -->
									<a href="{{ item.url }}">
										{{ item.title }}
									</a>
								</li>
							</ul>
							{% endfor %}
						</li>
						
					{% endfor %}									
				</ul>
			</nav>



			<!-- Page content -->
			<!-- toggle button -->
			<div id="page-content-wrapper" class="content22" style="overflow: auto">


<!-- =============================================================== -->
                <div class="main-container main-container2">
					
                    <div class="container">


						<div class="template-content">
							<h1>{{page.title}}</h1>
							{{content}}
						</div>


						<div class="template-links">
							{% if page.previous.vversion == page.vversion %}
							<span>
								<a href='{{page.previous.url}}'>
									<svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
									</svg>
									{{page.previous.title}}

								</a>
							</span>
							{% endif %}
							
							{% if page.next.vversion == page.vversion %}
							<span class="next" style="float: right;">
								<a href="{{page.next.url}}">
									{{page.next.title}}
									<svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
									  </svg>
								</a>
							</span>
							{% endif %}
						</div>



                    </div>
                    
                    {% include footer-templates.html %}

                </div>
<!-- ================================== -->


			</div>

			<div class="overlay d-md-none"></div>
		
		</div>



	{% include scripts.html %}
	
  </body>
</html>



