---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>

	{% include meta.html %}
	
    <title>{{ page.title }}</title>
	
	{% include styles.html %}
	
  </head>
  
  <body>
  
	<div class="">

		{% comment %}
			templates page
		{% endcomment %}


		{% include navigation2.html %}
		


		<div class="wrapper" style="overflow: hidden;">
			<!-- class="sidebar" -->
			<!-- Sidebar -->
			<nav id="sidebar" style="overflow: auto;">
				<!-- <aside> -->
				<ul class="list-unstyled components">
				{% for item in site.data.templates.docs %}

					<!-- href="{{site.url}}" alt="{{item.title}}" -->
					<!-- class="active" -->
					<li class="{% if item.url == page.url %}active{% endif %}">
						<a href="#{{ item.url }}" data-toggle="collapse" aria-expanded="false">{{ item.title }}</a>
						<ul class="collapse list-unstyled" id="{{ item.url }}">
						{% for entry in item.submenuitems %}
							<li>
								<a href="{{ entry.url }}">{{ entry.page }}</a>
							</li>
						{% endfor %}
						</ul>
					</li>
					
				{% endfor %}										
				</ul>
			<!-- </aside> -->
			</nav>




			<!-- Page content -->
			<!-- toggle button -->
			<div id="page-content-wrapper" class="content22" style="overflow: auto">


<!-- =============================================================== -->
                <div class="main-container main-container2">
					<!-- actual content and docs text -->
					
					<!-- <div class="template-banner">
						<div class="container">
							<h1>Overview</h1>
						</div>
					</div> -->

                    <div class="container">

                        <!-- sidebar button -->
                        <!-- <div class="mb-5">
                            <button type="button" id="sidebarCollapse" class="btn btn-info">
                                <i class="fas fa-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                        </div> -->
					

						<!-- CONTENT =============================================== -->
						<div class="template-content">
							{{content}}
						</div>


						<!-- LINKS AT THE BOTTOM ==================================== -->
						<div class="template-links">
							<!-- link to previous part -->
							<span>
								<a href='#'>
									<svg class="bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
									</svg>
									Data
								</a>
							</span>
							
							<!-- link to next part -->
							<span class="next" style="float: right;">
								<a href="#">
									Process
									<svg class="bi bi-chevron-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
									  </svg>
								</a>
							</span>
						</div>

                    </div>
                    
                    <!-- footer -->
                    <!-- ov-footer" style="position: fixed;   bottom: 0;" -->
                    {% include footer-templates.html %}

                </div>
<!-- ================================== -->


			</div>

			<!-- Dark Overlay element -->
			<div class="overlay d-md-none"></div>
		
		</div>





		<!-- Text -->
		{{content}}


		

	</div>

	{% include scripts.html %}
	
  </body>
</html>




						<!-- #pageSubmneu, #homeSubmenu -->
						<!-- <a>Another heading<i class="icon-angle-down"></i></a> -->
						<!-- <a href="#" data-toggle="collapse" data-target="#submenu1">
							helloss<i class="icon-angle-down"></i>
							</a> -->
							<!-- when click on arrow, change direction ... $('[data-toggle=collapse]').click(function(){
								$(this).find("i").toggleClass("icon-angle-right icon-angle-down");
							}); -->
							<!-- <button class="dropdown-btn">Dropdown
								<i class="fa fa-caret-down"></i>
							</button> -->
						<!-- class="dropdown-toggle" -->


						<!-- <div id="dismiss">
							<i class="fas fa-arrow-left"></i>
						</div> -->