	<!-- Full width PRODUCT DEMO video with play button (circle and triangle) -->
	<!-- show login, add new, add existing. still image of Prroduct Screenshot -->
	<!-- video of someone clicking like in Confluence -->
	<!-- This would be a functional product demo of logging into Atomiv demo, clicking on customers screen, searching for a customer, viewing a customer, adding a new customer etc. -->

<!-- Features that help bring ideas to life -->
<!-- Create, collaborate, and organize all your work in one place -->
<!-- Unify marketing, sales, service, commerce, and IT teams with our entire app suite, Customer 360. -->
<!-- Go from idea to action in seconds with Trello’s intuitively simple boards, lists, and cards. -->

<!--  i n t r o    p a r a g r a p h  -->
<!-- Atomiv is an all-in-one template which helps software development teams to build quality
	software efficiently and productively. Atomiv is built based on globally recognized best practices
	in software development. The core principle and motivation underlying Atomiv is the economics of
	standardization, helping achieve cost efficiency and quality at the same time, enabling teams to
	scale easily and achieving standardization across teams, projects and products. -->


	<article class="ov-content atomiv222222">
		<div class="container text-center">
			<div class="mx-sm-n3">
				<!-- Getting started with Atomiv -->
				<h3>Build high quality scalable IT projects now</h3>
				<!-- <p>Atomiv helps teams start quickly and work productively on software projects</p> -->
				<div class="video-placeholder">
					<img height="" width="" src="{{ site.url }}/img/video-placeholder.png" alt="architecture" class="video-placeholder">
				</div>
			</div>
		</div>
	</article>